@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.tilt-shaking:hover {
animation: tilt-shaking 0.25s linear infinite;
}

.typing {
animation: typing 2s steps(20), blink .7s infinite;
border-right: .15em solid orange;
margin: auto;
overflow: hidden;
white-space: nowrap;
}

@keyframes tilt-shaking {
0% {
transform: rotate(0deg);
}
25% {
transform: rotate(5deg);
}
50% {
transform: rotate(0eg);
}
75% {
transform: rotate(-5deg);
}
100% {
transform: rotate(0deg);
}
}

@keyframes blink {
from,
to {
border-color: transparent;
}
50% {
border-color: orange;
}
}

@keyframes typing {
0% {
width: 0%;
}
100% {
width: 100%;
}
}
