@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.fade-out-down {
  animation: fade-out-down 1.5s forwards;
}

.fade-in-up {
  animation: fade-in-up 1.5s;
}

.scroll-up {
  animation: scroll-up 1.5s infinite;
}

.tilt-shaking:hover {
  animation: tilt-shaking 0.25s linear infinite;
}

.typing {
  animation: typing 4s steps(20) infinite, blink .7s infinite;
  border-right: .15em solid orange;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translatey(0);
  }
  100% {
    opacity: 0;
    transform: translatey(20px);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translatey(20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes scroll-up {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatey(-8px);
  }
}

@keyframes tilt-shaking {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes typing {
  0%,
  100% {
    width: 0;
  }
  20%,
  80% {
    width: 100%;
  }
}
